@{
    Layout = "_LayoutLogin";
}

<form class="row g-3" asp>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Usuário</label>
        <input type="email" class="form-control" id="inputEmail4" >
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" >
    </div>

    <div class="col-12">
        <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Index"> Entrar</a>
    </div>
</form>