<table class="table">
    <thead>
        <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1234</td>
            <td>Mark</td>
            <td>087.777.888-80</td>
        </tr>
        <tr>
            <td scope="row">2458</td>
            <td>Jacob</td>
            <td>088.888.888-47</td>
        </tr>
        <tr>
            <td scope="row">34585</td>
            <td>Jonas</td>
            <td>088.888.000-47</td>
        </tr>
    </tbody>
</table>