@{
    Layout = "_LayoutHome";
}


<div class="text-center">

    <h1 class="display-4 my-5">Bem Vindo</h1>

    <p>* 01/10/2024 - Talk PJP - Havan Labs</p>
    <p>* 05/10/2024 - Semana da Tecnologia</p>
</div>

<div class="text-center">
    <button type="button" class="btn btn-success">Sair</button>
</div>
