<p>ASP.NET MVC</p>
<p>Banco de dados - Sql Server </p>
<p>Entity Framework CORE</p>
<p>Html/CSS</p>
<p>Bootstrap​</p>
<p>CRUD(Create (criar), Read (ler), Update (atualizar) e Delete (apagar))​</p>
<p>Teste de Performace​</p>