html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ImagemHome {
    background: url("ImagemHome.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
}