@model List<RelatorioAlunosViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Início do Curso</th>
            <th scope="col">Término do Curso</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (RelatorioAlunosViewModel relatorio in Model)
            {
                <tr>
                    <td>@relatorio.Aluno.Nome </td>
                    <td>@relatorio.Aluno.Cpf </td>
                    <td>@relatorio.DataInicio </td>
                    <td>@relatorio.DataFim </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Index"> Voltar</a>
</div>